/* -----------For over all page design----*/
* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family:'Arial',sans-serif;
}
body{

	background-color: #fff;
}

header {
  background-image: url(../pic/cover5.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
section{
  padding: 300px 0px;
}
h1{
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  margin-left: 36.5%;
  font-weight: bold;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
.main-navbar{
  float: right;
  list-style: none;
  margin-top: 55px;

}
.main-navbar li{
  display: inline-block;
  margin-left:30px;
}
.main-navbar li a:link,.main-navbar li a:visited {
  padding: 8px 0;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s,color 0.5s;
}
.main-navbar li a:hover,.main-navbar li a:active{
  border-bottom: 2px solid 	#00E1D9;
  color: 	#00E1D9;
}
.qouteSection{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../pic/photo-1554196278-f6a49cff326c.jpg);
	background-repeat: no-repeat;
	background-size: 1400px;


}
.heroText{
	text-align: left;
	width:600px;
	margin-left: 50%;
	font-size: 30px;
	color: #F1C40F;
	padding-bottom: 50px;

}
.indexText{
  position: absolute;
  width: 1140px;
  margin-top: 140px;
  font-size: 40px;
  text-align: center;
  margin-left: 100px;
  font-weight: bold;
  color: #11CBC0;


}

.IntroSection{
	padding: 80px 0px;
	color: #008080;
	text-align: center;
	/*background-color: #fdb0c0;*/
	background-image: url(../pic/rm32-chim-21-m-wall_2.jpg);
	background-repeat: no-repeat;
	background-size: 1500px;


}
.para {
	color: 	#761137;
	padding-top: 20px;
	text-align: center;
	width: 60%;
	font-size: 20px;
	margin-left: 20%;
	font-style: italic;
}
footer{
  background-color: #F1C40F ;
  padding: 50px;
  font-size: 80%;
  margin-top: 0px;
}

 footer p{
  color: #fff;
  text-align: center;
  margin-top: 70px;
  font-size: 30px;
}

